body{
    background-color: #300404;
    color: #cc222b;
    font-size: 20px;
    font-family: "Courier New";
}
li{
    margin:auto;
    display:inline;
    float:left;
    width: 20%;
    height: 10%;
}
li a{
    border:7px solid;
    border-color: #852b25;
    background: black;
    height: 40px;
    display: block;
    color: #cc222b;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 2vw;
}
li a:hover{
    color: #c91616;
    background-color: #730700;
}
.parent{
    top:0;
    position: sticky;
    background-color: #300404;
}
#title{
    height: 25%;
    width: 50%;
    margin-left:25%; 
}
fieldset{
    border:2px solid;
}
input{
    margin: auto;
    width: 20%;
    margin-left: 40%; 
    padding: 10px;
    background: #852b25;
    border:5px solid;
    border-color: black;
}

#button{
    width: 10%;
    background: #852b25;
    font-weight: bold;
    border:5px solid;
    border-color: black;
}
#button:active{
    color: #c91616;
    background-color: #730700;
}
p{
    align-content: center;
}
.center{
    margin: auto;
    width: 50%;
    padding: 10px;
}
.images{
    width:30%;
    height:80%;
    margin-left: 2%;
    margin-bottom: 2%;
}
.message{
  width: 30%;
  height: 50%;
  margin-left:35%;
  background: #852b25;
  border:5px solid;
  border-color: black;
}